*{
    font-family: poppins;
}

body{
    margin-top: 30px;
}

p {
    border: 1px solid #000;
    margin: 5px 7px;
    width: 30px;
    display: inline-block;
    text-align: center;
    padding: 2px;
    border-radius: 4px;
    cursor: pointer;
}

p[data-class="red"]{
    background: #f00;
    color: #fff;
    border-color: #f00;
}

p[data-class="blue"]{
    background: #00f;
    color: #fff;
    border-color: #00f;
}

#root{
    margin-top: 10px;
}

.turn{
    display: inline-block;
}

.error{
    display: inline-block;
    margin-left: 20px;
}